{{- $c := site.Params.company -}}
{{- $org := dict
  "@context" "https://schema.org"
  "@type" (slice "Organization" "ProfessionalService")
  "name" site.Title
  "url" site.BaseURL
  "logo" (absURL "favicon.svg")
  "image" (absURL "og/default.png")
  "description" site.Params.description
  "areaServed" (dict "@type" "Country" "name" "Hungary")
  "knowsLanguage" (slice "hu" "en")
-}}
{{- with $c -}}
  {{- $org = merge $org (dict
    "legalName" .legalName
    "foundingDate" .founded
    "taxID" .taxId
    "address" (dict
      "@type" "PostalAddress"
      "streetAddress" .streetAddress
      "postalCode" .postalCode
      "addressLocality" .locality
      "addressCountry" .countryCode)
    "geo" (dict
      "@type" "GeoCoordinates"
      "latitude" 46.7503
      "longitude" 17.5344)
    "identifier" (dict
      "@type" "PropertyValue"
      "propertyID" "HU:cégjegyzékszám"
      "value" .regNumber)
  ) -}}
{{- end -}}
{{- with site.Params.email }}{{ $org = merge $org (dict "email" .) }}{{ end -}}
{{- with site.Params.phone }}{{ $org = merge $org (dict "telephone" (replaceRE `[^+0-9]` "" .)) }}{{ end -}}
{{- $same := slice -}}
{{- with site.Params.social.github }}{{ $same = $same | append . }}{{ end -}}
{{- with site.Params.social.linkedin }}{{ $same = $same | append . }}{{ end -}}
{{- with $same }}{{ $org = merge $org (dict "sameAs" .) }}{{ end -}}
<script type="application/ld+json">{{ $org | jsonify | safeJS }}</script>
